<nav class="navbar navbar-inverse admin-menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to t(".brand"), admin_index_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to t(".home"), admin_index_path %></li>
      <li><%= link_to t(".user"), admin_users_path %></li>
      <li><%= link_to t(".subject"), admin_subjects_path %></li>
      <li><%= link_to t(".exam"), admin_exams_path %></li>
      <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>
