<% provide :title, t(".title") %>
<div class ="user-subject">
  <%= image_tag("subject.jpg") %>
  <div class ="container">
    <div class="col-md-6 col-md-offset-3 list-choose">
      <h1><%= t(".title") %></h1>
      <%= form_for(@subject, url: subject_path(:id), method: :get) do |f| %>
        <%= f.select :id, subject_collection, {}, {class: "form-control"} %>
      <%= f.submit t(".gotest"), class: "btn btn-warning" %>
      <% end %>
      
    </div>
  </div>
</div>
