<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to t(".quizlearning"), root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to t(".home"), root_path %></li>
      <% if logged_in? %>
        <li><%= link_to t(".user"),users_path %></li>
        <li><%= link_to t(".profile"),current_user %></li>
        <li><%= link_to t(".settings"),edit_user_path(current_user) %></li>
        <li><%= link_to t(".result"),results_path %></li>
        <li><%= link_to t(".class"), @current_user.admin? ? admin_subjects_path : subjects_path %></li>
        <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to t(".login"),login_path %></li>
      <% end %>
    </ul>
    <div class="search_box">
      <%= form_tag search_index_path, html: {class: ""}, method: :get do |form| %>
        <i class="fa fa-search"></i>
        <%= text_field_tag :term, params[:term], class: "custom" %>
        <%= submit_tag "", name: nil, class: "register" %>
      <% end %>
    </div>

  </div>
</nav>

